<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Predicción de Enfermedad Cardíaca</title>

   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="container">

        <h1>Predicción Temprana de Enfermedad Cardíaca</h1>

        <p>
            Este proyecto tiene como objetivo desarrollar un sistema basado en minería de datos
         capaz de predecir la presencia de enfermedades cardíacas en pacientes utilizando
         información clínica.
        </p>

        <h2>Problemática</h2>
        <p>
            Las enfermedades cardíacas representan una de las principales causas de mortalidad
            a nivel mundial. Muchas veces estas enfermedades se detectan cuando ya se encuentran
            en una etapa avanzada, lo que dificulta su tratamiento.
        </p>

        <p>
           Debido a esto, es importante desarrollar herramientas que permitan analizar datos
         médicos y detectar patrones que ayuden a identificar pacientes con riesgo de
         desarrollar enfermedades cardiovasculares.
        </p>

        <h2>Objetivo del proyecto</h2>
        <p>
            Desarrollar un modelo de minería de datos capaz de analizar variables clínicas
         como edad, colesterol, presión arterial y otros factores médicos para predecir
         la posible presencia de enfermedad cardíaca en pacientes.
        </p>

        <h2>Minería de Datos</h2>

        <p>
        La minería de datos permite analizar grandes volúmenes de información médica
        con el fin de encontrar patrones y relaciones entre las variables del dataset.
        Estas técnicas permiten construir modelos predictivos que pueden apoyar
        la toma de decisiones en el área de la salud.
        </p>

        <h2>Navegación</h2>
        <ul>
            <li><a href="/dataset">Ver Dataset</a></li>
            <li><a href="/problematica">Ver Problemática Detallada</a></li>
        </ul>

    </div>

</body>
</html>